.git
.cache
.pytest_cache
.coverage
__pycache__
build
build-*
builddir
builddir-*
build-ci-*
build-appimage
build-flatpak
build-flatpak-repo
.flatpak-builder
obj-x86_64-linux-gnu
obj-*
debian/tmp
debian/.debhelper
debian/ubuntu-hello
debian/ubuntu-hello-gtk
artifacts
*.deb
*.rpm
*.pkg.tar.zst
*.snap
*.AppImage
*.flatpak
*.pyc
packaging/snap/parts
packaging/snap/stage
packaging/snap/prime
packaging/snap/overlay
packaging/snap/.craft
packaging/snap/.uh-src-*
packaging/snap/.ubuntu-hello-src.tar.gz.*
packaging/snap/ubuntu-hello-src.tar.gz
packaging/arch/ubuntu-hello/src
packaging/arch/ubuntu-hello/pkg
