[Desktop Entry]
Version=1.0
Type=Application
Name=Ubuntu Hello
Comment=Windows Hello style facial authentication
Exec=ubuntu-hello-gtk
Icon=ubuntu-hello-gtk
Terminal=false
Categories=System;Settings;Security;
Keywords=face;recognition;authentication;security;lock;
StartupNotify=true
